logging.path=/var/walmart/drone-scheduler
logging.file=drone.log

# Earliest time the drone can start operating
scheduler.operation.start=06:00

# latest time the drone may operate
scheduler.operation.end=22:00

# Set to true if assuming NPS score starts at scheduler.operation.start time
scheduler.npsBasedOnStart=false

